<div>
  <ng-template *ngIf="todo.isCompleted; else unchecked">
    <input (click)="setCompleted(true)"
           type="checkbox"
           name={{todo.name}}
           checked />
    <label> Id: {{todo.id}}</label>
    <label> Name: {{todo.name}}</label>
  </ng-template>
  <ng-template #unchecked>
    <input (click)="setCompleted(true)"
           type="checkbox"
           name={{todo.name}}
           checked />
    <label> Id: {{todo.id}}</label>
    <label> Name: <s>{{todo.name}}</s></label>
  </ng-template>
</div>